# Email Settings (for production)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=muthondugithinji@gmail.com
EMAIL_HOST_PASSWORD=uret gtki xjtf pzjg
DEFAULT_FROM_EMAIL=muthondugithinji@gmail.com